/* font face for icons */
@font-face {font-family:
    'RaphaelIcons';
    src: url('../fonts/raphaelicons-webfont.eot');
    src: local('☺'),
         url('../fonts/raphaelicons-webfont.woff') format('woff'),
         url('../fonts/raphaelicons-webfont.ttf') format('truetype'),
         url('../fonts/raphaelicons-webfont.svg#webfontjJTHv0E8') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icon {
    line-height: 0.5em;
    font-family: 'RaphaelIcons';
    font-size: 2em;
    position: relative;
    top: 0.2em;
    letter-spacing: 0.3em;
}

.btn-group .icon {
    letter-spacing: 0;
}

.dropdown-menu .icon {
    font-size: 1.7em;
    letter-spacing: 0.3em;
}

/* 60px to make the container go all the way to the bottom of the topbar */
body {
    padding-top: 60px;
}


/* animated menus */
 .ca-menu{
    padding:0;
    margin:20px auto;
    width: 1020px;
}
.ca-menu li{
    width: 160px;
    height: 220px;
    overflow: hidden;
    position: relative;
    float:left;
    background: #fff;
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    margin-right: 12px;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
}
.ca-menu li:last-child{
    margin-right: 0px;
}
.ca-menu li a{
    text-align: left;
    width: 100%;
    height: 100%;
    display: block;
    color: #333;
    position: relative;
}
.ca-icon{
    font-family: 'RaphaelIcons', cursive;
    font-size: 80px;
    color: #333;
    text-shadow: 0px 0px 1px #333;
    line-height: 150px;
    position: absolute;
    width: 100%;
    height: 50%;
    left: 0px;
    top: 0px;
    text-align: center;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
}
.ca-content{
    position: absolute;
    left: 0px;
    width: 100%;
    height: 50%;
    top: 50%;
}
.ca-main{
    font-size: 23px;
    opacity: 0.8;
    text-align: center;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
}
.ca-menu li:hover{
    background-color: #000;
}
.ca-menu li:hover .ca-icon{
    color: #fff;
    font-size: 110px;
}
.ca-menu li:hover .ca-main{
    color: #fff;
}


/* various */
.flash-placeholder {
    min-height: 50px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.login-box {
    margin-top: 30px;
    padding-top: 27px;
    border: 2px solid #dcdcdc;
    background-color: #f5f5f5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.table a {
    color: #333333;
}